$bg-color: #000;
$font-color: #777;

.mainNav {
    width: 100%;
    background-color: $bg-color;
    color: $font-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    position: relative;

    nav {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    @media screen and (min-width: 769px) {
        nav {
            display: block;
        }
    }
}