@import './variables.scss';

//columns

.default-column {
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}

//links
a {
    text-decoration: none;
    color: $text--dark;
    margin: 4px 0;
    position: relative;
    

    &:hover {
        .link-bar {
            width: 50%;
        }
    }
}

.link-bar {
    height: 3px;
    background: $text--dark;
    width: 0;
    display: block;
    transition: width .2s ease-in-out ;
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: 6;
}