@import '../../../variables.scss';

.main-nav {
    display: none;

    ul {
        display: flex;
        flex-direction: row;
        margin: 8px 0;
        padding: 0;
        list-style-type: none;
    }

    li + li {
        margin-left: 16px;
    }

    li:first-child {
        margin-left: 16px;
    }

    li:last-child {
        margin-right: 16px;
    }
    
    a {
        text-decoration: none;
        color: $text--dark;
        margin: 4px 0;
        position: relative;
        
    
        &:hover {
            .link-bar {
                width: 50%;
            }
        }
    }
    
    .link-bar {
        height: 3px;
        background: $text--dark;
        width: 0;
        display: block;
        transition: width .2s ease-in-out ;
        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: 6;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
    }
}